$grey-5: #343434;
$grey-4: #919191;
$grey-3: #c1c1c1;
$grey-2: #f2f2f2;
$grey-1: #fff2fa;
$white: #FFF;
$pink: #C6007E;
$pink-opacity: #c6007e59;
$blue-3: #06038D;
$blue-2: #0A008B;
$blue-1: #3434E0;
$black: #000000;
