.cart {
  width: 230px;
  color: #343434;
}

.cart--fixed {
  position: fixed;
  top: 85px;
}

.cart__details {
  background: #FFF;
  border-top: 1px solid #c1c1c1;
}
.cart__header {
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.cart__header--price {
  color: #06038D;
}

.cart__info {
  padding: 15px;
  background: #FFF;
  font-family: Source Sans Pro;
  font-weight: bold;
  font-size: 16px;
  color: #919191;
  margin: 0;
}

.cart__separator {
  border-top: 1px dotted #C1C1C1;

  &:before {
    content: "";
    position: absolute;
    top: -7px;
    right: 0;
    left: 0;
    margin: auto;
    border-top: 10px solid white;
    border-left: 10px solid #ffffff;
    transform: rotate(45deg);
    box-shadow: 1px 1px #c1c1c1;
    width: 0;
  }
}

.cart__total {
  font-family: "Source Sans Pro";
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: #06038D;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFF;
}


.cart__btn {
  background: #C6007E;
  border-radius: 3px;
  margin: 20px auto;
  width: 100%;
  height: 50px;
  border: 0;
  color: #fff;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

.cart__btn--disabled {
  background: #c1c1c1;
}

.pay-view {
  min-width: 465px;
}
.pay-view__header {
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  color: #06038D;
  background: #F2F2F2;
  margin: 0;
  padding: 15px 30px;
}
.pay-view__flights {
  display: flex;
  padding: 15px 15px 0 15px;
  justify-content: space-between;
}
.pay-view__footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.pay-view__total {
  padding: 15px 30px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #343434;
}

.pay-view__total--amount {
  font-weight: bold;
  color: #06038D;
}

.pay-view__cancel {
  background: #FFF;
  border: 0;
  padding: 5px 15px;
  margin: 10px 15px;
  font-weight: bold;
  font-size: 12px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #C6007E;
  cursor: pointer;
}