@import "variables";

.flight {
  position: relative;
  display: flex;
  padding: 15px;
  background: $white;
}

.flight__calendar {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 46px;
  border: 2px solid #E1E1E1;
  border-radius: 3px;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
}

.calendar__month {
  background: $grey-2;
}

.flight__airport {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.flight__airport--origin:after{
  content: " –"
}

.flight__airport--time {
  font-size: 10px;
}
