@import "variables";

.float__container {
  position: relative;
}

.float__label {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 50px;
  font-weight: normal;
  font-size: 1rem;
  text-transform: capitalize;
  color: $grey-4;
  padding: 0 15px;
  transition: all .1s ease-in-out;
  cursor: text;
}

.float__label--active {
  font-size: 10px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.float__input {
  font-family: Roboto;
  padding: 25px 15px 8px;
}