@import "variables";

.timetable {
  display: flex;
  flex-direction: column;
  box-shadow: 6px 6px 15px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.timetable__header {
  height: 58px;
  background: $grey-2;
  display: flex;

  h2 {
    font-weight: 500;
    font-size: 18px;
    margin: auto 20px;
    text-transform: uppercase;
    color: $grey-4;
  }

}

.timetable__route {
  margin-left: 40px;
  font-size: 22px;
  font-weight: bold;
  color: $blue-3;
  display: inline-flex;
  text-transform: capitalize;

  img {
    width: 30px;
    margin: auto 20px;
  }
}

.timetable__date {
  background: $white;
  height: 58px;
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 18px;
    color: $grey-5;
    font-weight: normal;
  }
}

.timetable__step {
  flex-basis: 25%;
  margin: auto 12px;
  cursor: pointer;

  button {
    font-weight: bold;
    font-size: 13px;
    display: flex;
    color: $grey-4;
    text-transform: uppercase;
    border: 0;
    background: $white;
    cursor: pointer;
  }

  img {
    width: 18px;
    margin-right: 8px;
    cursor: pointer;
  }

  span {
    margin: auto 0;
    cursor: pointer;
  }
}

.timetable__no-flights {
  font-size: 12px;
  text-align: center;
  background: $white;
  margin: 0;
  padding: 10px;
}

.timetable__loading {
  font-size: 12px;
  text-align: center;
  background: $white;
  margin: 0;
  padding: 10px;
}

.timetable__step--next {

  button {
    flex-direction: row-reverse;
    align-content: flex-start;
    margin-left: auto;
  }

  img {
    margin-left: 8px;
    margin-right: 0;
    transform: rotate(180deg)
  }
}